# dependencies
node_modules/

# build
dist/
dist-ssr/
build/

# testing
coverage/

# environment variables
.env*
!.env.example

# logs
*.log
npm-debug.log*

# IDEs and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# app-specific
uploads/
tmp/
temp/
